@model ProjektTest2.Models.Task

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="AddTime" class="control-label"></label>
            <input asp-for="AddTime" class="form-control" />
            <span asp-validation-for="AddTime" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="FinishDay" class="control-label"></label>
                <input asp-for="FinishDay" class="form-control" />
                <span asp-validation-for="FinishDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishTime" class="control-label"></label>
                <input asp-for="FinishTime" class="form-control" />
                <span asp-validation-for="FinishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskContent" class="control-label"></label>
                <input asp-for="TaskContent" class="form-control" />
                <span asp-validation-for="TaskContent" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ApplicationUsersID" class="control-label"></label>
            <select asp-for="ApplicationUsersID" class ="form-control" asp-items="ViewBag.ApplicationUsersID"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
